@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  background-color: #ffffff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(243, 252, 249);
}
a {
  text-decoration: none;
}
.logo {
  font-size: 1.11rem;
  color: #864545;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: italic;
}
.logo::selection {
  color: #7e7564;
}
nav ul li a {
  text-decoration: none;
  letter-spacing: 2px;
  color: #3b362c !important;
  text-transform: uppercase;
  font-size: smaller;
  font-weight: bold;
}
nav ul li a::selection {
  color: #221f1b;
}
nav ul li a:focus,nav ul li a:hover{
  color: rgb(219, 36, 36) !important;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  border-radius: 70px;
  box-shadow: 0 0 0 0;
}

.nav-item {
  margin-right: auto;
}
.navbar-toggler{
  width: 30px;
}
.loginBtn{
  min-width: 130px;
  color: #000;
}
.login-icon{
  margin-left: 5px;
}


