.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #e4dada;
}

.search-bar input {
  width: 100%;
  padding: 0.5rem;
  border: 1px groove #333;
  /* border-radius: 0.5rem; */
  font-size: 1rem;
}
.search-bar input:focus {
  outline: none;
}
.search-icon {
  color: #333;
  
}
.filter-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #e4dada;
  border-radius: 0.5rem;
}
.search-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  /* border: 1px groove #333; */
  border-radius: 0.5rem;
  font-size: 1rem;
}
.search-select select {
  width: 100%;
  padding: 0.3rem;
  border: 1px groove #333;
  border-radius: 0.5rem;
  font-size: 1rem;
}
